apiVersion: v1
kind: ConfigMap
metadata:
    name: db-config
data:
    DB_URL: jdbc:mysql://database-1.cx8uakmo4zoh.ap-south-1.rds.amazonaws.com:3306/erp_master?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    DB_DRIVER: com.mysql.cj.jdbc.Driver
    SPRING_PROFILES_ACTIVE: dev
